{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketLine": true,
  "extends": ["airbnb", "prettier"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
